body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:url("https://dl.dropboxusercontent.com/s/f7vyfad4sg0e4vx/handmadepaper_%402X.png?dl=0"); 
    background-size: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #cbcbcb; /* Google Material Grey 500 #757575  */
    font-size: 16px;
}


/*
.calculator{
    display: flex;
    flex-direction: column;
    align-content: center;  /* x axis centre    
    justify-content: space-around; /*  y axis centre  
    color: #F5F5F5;  /* Google Material Grey 100 
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    margin: auto;
    background-color: black;  /* defult Black  
    z-index: 0;
}
*/


.calculator{
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    width: 100vw;
    margin: auto;
    z-index: 0;
}



/*****    GET THIS BUTTON LOOKING OK ******/
button{
    border: 10px;
    outline: 1px;
}



.displaySection{
     background-color: black; 
}


.inputSection{
    background-color: #757575;  /* Google Material Grey 500 #757575  */
    justify-content: space-around;
}


.row{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    margin-right: 1vw;
}



.inputDisplay{
    
    font-size: 5vw;
    width: 18em;
    height: 3vh; 
    padding-top: 2vw;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    word-wrap: break-word;
    text-align:right;
    cursor:pointer;
}




.outputDisplay{
    font-size: 10vw;
    width: 9.5em;
    height: 2.5em; 
    margin-top: 8px;
    margin-bottom: 9px;
    margin-right: 8px;
    border: 0;
    word-wrap: break-word;
    text-align:right;
    cursor:pointer;
}



.button{
    width: 19.4vw;
    height: 19.4vw;
    margin: 2.222vw;
    font-size: 2.5em;
    
}



.displayButton{
    position: fixed;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-top: 5vh;
    font-size: 2.5em;
}





.butRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button#deleteOne.smallButton.butCent{
    background-color: black
}

/*
#note{
    
    font-size: 1.6em;
    margin: 1em;
}

*/


.cyan900{
    background-color: #006064;  /* Google material Cyan 900 */
}


.orange900{
    background-color: #E65100; /* Google material Orange 900 */
}


.grey600{
    background-color: #757575;  /* Google Material Grey 500 #757575  */
}


.black{
    background-color: #000000;  /* Black  */
    color: white;
}

.black_grey{
    background-color: #000000;  /* Black  */
    color: #434343;
}


.altMenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60vh;
    text-align: center;
    justify-content: center;
    width: 88vw;
    max-width: 550px;
    height: 11em;
    margin: 20px;
    background-color: cornflowerblue;
    color: white;
    font-size: 4.8vw;
    font-weight: 300;
}

.off{
    display: none;
}


/* ==========================================================================
   Media Queries  - For future updates
   ========================================================================== */

/********************    320 to 699  *******************/
@media only screen and (min-width: 320px) and (max-width: 699px) and (orientation: portrait){

    
     body {
        background: black;
    }

}


@media only screen and (min-width: 400px) and (max-width: 750px) and (orientation: landscape){

    
 body {
    background: black;
}
    
        
    .outputDisplay {
        font-size: 7vw;
        width: 100vw;
        height: 2.5em;
        margin-top: 10vh;
        margin-bottom: 9px;
        margin-right: 8px;
        text-align: right;
    }
    
    
    
    .displayButton {
    position: absolute;
    margin-top: 30vh;
   }
    
    
    .inputDisplay {
    font-size: 3vw;
    }
    
    
    .button {
    width: 10vw;
    height: 10vw;
    margin: 2.222vw;
    font-size: 1.5em;
  }
    
    
    
    
}




/********************    700 to 1200  *******************/
@media only screen and (min-width: 700px) and (max-width: 1200px) and (orientation: portrait){

    html{
        background: black;
    }
    
    
.calculator{
    max-width: 100vw;
    max-height: 100vh;
}

.inputDisplay{
    font-size: 5vw;
    width: 18em;
    height: 10vh;
    }

    
    
.row{
    display: flex;
    margin-left: 5vw;
    }

.outputDisplay{
    font-size: 10vw;
    }


.button{
    width: 18vw;
    height: 14vw;
    margin: 2.222vw;
    font-size: 2.5em;
    }


.displayButton{
    font-size: 60px;
    position: fixed;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-top: 6vh;
    }
    
.altMenu on{
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 550px;
    background-color: cornflowerblue;
    color: white;
    padding: 5vw;
    bottom: 25vh;
    text-align: center;
    justify-content: center;
    width: 88vw;
    max-width: 550px;
    height: 11em;
    margin: 1vw;
    color: white;
    font-size: 2.5vw;
    font-weight: 300;
    }
    
    
    
    
.altMenu off{
    display: none;
    }
    
    
}




@media only screen and (min-width: 700px) and (max-width: 1200px) and (orientation: landscape){

    html{
        background: black;
    }
    
    
    body{
        background: black;
    }
    
.calculator{
    max-width: 70vw;
}

.inputDisplay{
    font-size: 4vh;
    }

    
    
.row{
    display: flex;
    margin-left: 5vw;
    }

.outputDisplay{
    font-size: 6vw;
    }


.button{
    width: 18vw;
    height: 14vw;
    margin: 2.222vw;
    font-size: 2.5em;
    }


.displayButton{
    font-size: 60px;
    position: fixed;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-top: 7vh;
    }
    
    
.altMenu{
    bottom: 5vh;
    font-size: 2.5vw;
    }
    
    
.altMenu off{
    display: none;
    }
    
    
}







/********************    1201  *******************/
@media only screen and (min-width: 1201px) {
.calculator{
    position: fixed;
    top: 5vh;
    left: 33vw;
    max-width: 35vw;
    max-height: 60vh;
}

.inputDisplay{
    font-size: 1.6vw;
    }

    
.row {
    margin-left: 3vw;
}

.outputDisplay{
    font-size: 3vw;
    }


.button{
    width: 5vw;
    height: 5vw;
    margin: 1vw;
    font-size: 2em;
    }


.displayButton{
    font-size: 3.5vmin;
    margin-top: 10vh;
    }
    
.altMenu{
    top: 28vh;
    width: 30vw;
    font-size: 2.4vh;
    }
    
}
